<%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <!-- main content -->
        <main class="content">
            <!-- tabs -->
            <section class="container mt-2 mb-1">
                <div class="col-8 col-s-10">
                    <!-- tabs links -->
                    <div class="tab">
                        <button class="tablinks" onclick="openForm(event, 'Register')">Register</button>
                        <button class="tablinks" onclick="openForm(event, 'Login')">Login</button>
                    </div>
                    <!-- tabs links -->
                    <!-- tabcontent Register -->
                    <div id="Register" class="tabcontent">
                        <h1 class="tex-center"> Create an Account </h1>
                        <p class="text-center ml-2"> Please enter your details </p>
                        <!-- form Register -->
                        <form method="post" action='/register_data'>
                            <div class="padding-1">
                                <label>Username</label>
                                <input type= "text" name ="username" placeholder="Username" class ="form-inputs"/>
                            </div>
                            <div class="padding-1">
                                <label>Full Name</label>
                                <input type= "text" name ="fullname" placeholder="Full Name" class ="form-inputs"/>
                            </div>
                            <div class="padding-1">
                                <label>Email</label>
                                <input type= "email" name ="email" placeholder="Email" class ="form-inputs"/>
                            </div>
                            <div class="padding-1">
                                <label>Phone</label>
                                <input type= "text" name ="phone" placeholder="Phone" class ="form-inputs"/>
                            </div>
                            <div class="padding-1">
                                <label>Password</label>
                                <input type= "password" name ="password" placeholder="Password" class ="form-inputs" autocomplete required/>
                            </div>
                            <div class="padding-1 container">
                                <input type="submit" value="Create and Account" class="large-btn">
                            </div>
                        </form>
                        <!-- form Register -->
                    </div>
                    <!-- tabcontent Register -->
                    <!-- tabcontent Login -->
                    <div id="Login" class="tabcontent">
                        <h1 class="tex-center"> Login </h1>
                        <p class="text-center ml-2"> Please enter your details </p>
                        <!-- form Login -->
                        <form method="POST" action='/login'>
                            <div class="padding-1">
                                <label for="email">Email</label>
                                <input type="email" name="email"  id="email" placeholder="email" class="form-inputs" />
                            </div>
                            <div class="padding-1">
                                <label for="password">Password</label>
                                <input type="password" name="password"  id="password" placeholder="Password" class="form-inputs" />
                            </div>
                            <div class="padding-1 container">
                                <button class="large-btn" type="submit">Login</button>
                            </div>
                        </form>
                        <!-- form Login --> 
                    </div>
                    <!-- tabcontent Login -->
                </div>
            </section>
            <!-- tabs -->
        </main>
        <!-- main content -->
        <%- include('../partials/footer.ejs') %>
        <%- include('../partials/end.ejs') %>
    </body>
</html>