<%- include('../partials/head.ejs') %>
</head>
<body>
  <%- include('../partials/header.ejs') %>
	<main class="content">
		<h1 class="tex-center"> Add a new class </h1>
		<!-- form card -->
		<section class="container mt-2 mb-1">
			<div class="form-card col-8">
				<!-- form Add a class -->
				<form method="post" action="/admin/add-class" class="">
					<!-- Add class Name input -->
					<div class="padding-1">
						<label for="class_name">Class Name</label>
						<input type= "text" name ="class_name" placeholder="Class Name" id="class_name" class ="form-inputs"/>
					</div>
					<!-- Add img input -->
					<div class="padding-1">
						<label for="imageUrl">Image</label>
						<input type= "text" name ="imageUrl" placeholder="imageUrl" id="imageUrl" class ="form-inputs"/>
					</div>
					<!-- Add description input -->
					<div class="padding-1">
						<label for="description">Description</label>
						<textarea name="description" placeholder="imageUrl" rows ="5" id="description" class ="form-inputs"></textarea>
					</div>
					<!-- Add level input -->
					<div class="padding-1">
						<label for="level">Level</label>
						<input type="text" id="level" name="level" class ="form-inputs">
					</div>
					<!-- submit btn -->
					<div class="padding-1 container">
						<input type="submit" value="Add Class" class="large-btn">
					</div>
				</form>
				<!-- form Add a class -->
			</div>
		</section>
		<!-- form card -->
	</main>
  <%- include('../partials/footer.ejs') %>
  <%- include('../partials/end.ejs') %>
</body>
</html>