<%- include('../partials/head.ejs') %>
</head>
<body>
  <%- include('../partials/header.ejs') %>
  <main class="content">
		<h1 class="tex-center"> Admin Dashboard </h1>
		<!-- form card -->
		<section class="container mt-2 mb-1">
			
			
		</section>
		<!-- form card -->
	</main>
  <%- include('../partials/footer.ejs') %>
  <%- include('../partials/end.ejs') %>
</body>
</html>