        <!-- js scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src= "/js/script-mobile-nav.js"></script>
        <script src= "/js/script-home.js"></script>
        <script src= "/js/script-sign-in.js"></script>

    <!-- js scripts -->

    </body>
</html>