<!-- footer -->
<footer class="">
    <!-- pyramids -->
    <div class="card-container">
        <div class="col-6 col-s-12">
            <img src="../img/index/pyramids.png" alt="pyramids" class="img">
        </div>
    </div>
    <!-- social media -->
        <h3 class="">Follow us on </h3>
        <div class="card-container">
            <div class="pr-1">
                <a href="" target="_blank" >
                    <img src="../img/index/fb.png" alt="facebook" class="img"/>
                </a>
            </div>
            <div class="pr-1">
                <a href="" target="_blank" >
                    <img src="../img/index/insta.png" alt="facebook" class="img"/>
                </a>
            </div>
            <div class="pr-1">
                <a href="" target="_blank">
                    <img src="../img/index/twitter.png" alt="twitter" class="img"/>
                </a>
            </div>
        </div>
        <!-- credits -->
        <div class="header-1 container">
            <p class="credits ">® 2020 Backend Helpers Limited. All rights are reserved.</p>
        </div> 
</footer>
<!-- footer -->