<body>
    <header>
        <div class="header-1">
            
            <nav class="admin-menu flex-container col-8 "> 
                <% if (isAuthenticated) { %>
                <li>
                    <a class="<%= path === '/admin/classes-list' ? 'active' : '' %> nav-link" href="/admin/classes-list" >Classes List</a>
                </li>
                <% } %>
                <ul class="main-header__item-list">
                    <% if (!isAuthenticated) { %>
                    <li class="main-header__item">
                        <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                    </li>
                    <% } else { %>
                    <li class="main-header__item">
                        <form action="/logout" method="post">
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                    <% } %>
                </ul>
            </nav>
            
            
                      
            </div>
        </div>
        <!-- navigation large & medium devices -->
        <div class="row menu-large">
            <!-- logo -->
            <div class="col-3">
                <a href="/" class="">
                    <img src="/img/index/logo.png" alt="Oriental Dance logo" class="img-logo">
                </a>
            </div>
            <!-- navigation links -->
            <div class="col-7 right">
                <!-- navigation large & medium devices -->
                <nav class="menu-large flex-container">
                    <li>
                        <a href="/" class="<%= path === '/' ? 'active' : '' %> nav-link">Home</a>
                    </li>
                    <li>
                        <a href="/about_us" class="nav-link ">About Us</a>
                    </li>
                    <li>
                        <a href="/classes" class="<%= path === '/classes' ? 'active' : '' %> nav-link">Our Classes</a>
                    </li>
                    <li>
                        <a href="/studios" class="nav-link">Our Studios</a>
                    </li>
                    <li>
                        <a href="/contact_us" class="nav-link">Contact Us</a> 
                    </li>
                </nav>
                <!-- navigation large & medium devices --> 
            </div>
            <!-- navigation links -->
        </div>
        <!-- navigation large & medium devices -->
        <!-- navigation small devices -->
        <div class="row nav-mobile">
            <!-- top navigation -->
            <div class="card-container">
                <!-- logo -->
                <a href="/" class="">
                    <img src="/img/index/logo.png" alt="Oriental Dance logo" class="img-logo">
                </a>
                <!-- navigation links -->
                <div id="navLinks"  class="col-12 menu-small">
                    <!-- navigation large & medium devices -->
                    <nav class="col-12">
                        <li>
                            <a href="/" class="nav-link active">Home</a>
                        </li>
                        <li>
                            <a href="/about_us" class="nav-link ">About Us</a>
                        </li>
                        <li>
                            <a href="/classes" class="nav-link">Our Classes</a>
                        </li>
                        <li>
                            <a href="/studios" class="nav-link">Our Studios</a>
                        </li>
                        <li>
                            <a href="/contact_us" class="nav-link">Contact Us</a>
                        </li>
                        <button id="" class="headbutton mr-1" type="button" onclick ="location.href=''"> 
                            Sign in
                        </button>
                    </nav>
                    <!-- navigation large & medium devices --> 
                </div>
                <!-- navigation links -->
                <!-- hamburger menu icon -->
                <a href="javascript:void(0);" class="icon" onclick="mobileMenu()">
                    <div class="line-menu">
                        <hr class=""></hr>
                        <hr class=""></hr>
                        <hr class=""></hr>
                    </div>
                </a>
            </div>
        </div>
        <!-- navigation small devices -->
    </header>
</body>