<%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <!-- main content -->
        <main class="content">
            <!-- banner large & medium devices-->
            <section class="row">
                <!-- banner large & medium devices-->
                <div class="banner-lg">
                </div>
                <!-- banner large & medium devices-->
                <!-- banner small devices -->
                <div class="banner-sm nav-mobile">
                    <img src="img/index/banner-mobile-1.jpg" alt="Nadya & Ann-Marie" class="img">
                </div>
            </section>
            <!-- banner large & medium devices-->
            <!-- classes & studios -->
            <section id="" class="mb-1">
                <div class="card-container">
                    <div class="col-3 col-s-10 yellow-card mr-1">
                        <h1 class="main-text">
                            Discover your unique path in Oriental Dance
                        </h1>
                    </div>
                    <div class="col-3 col-s-10 mt-2 card-img mr-1">
                        <img src="/img/index/classes.jpg" alt="Our classes" class="img">
                        <button id="" class="large-btn" type="button" onclick ="location.href='/classes'"> 
                            Book a Class
                        </button>
                    </div>  
                    <div class="col-3 col-s-10 mt-2 card-img">
                        <img src="/img/index/studios.jpg" alt="Our studios" class="img">
                        <button id="" class="large-btn" type="button" onclick ="location.href='/studios'"> 
                            Book a Studio
                        </button>
                    </div> 
            </div>
            </section>
            <!-- classes & studios -->
            <!-- testimonials -->
            <section class="testimonials mt-1">
                <div class="pt-1">
                    <h2 class="yellow-bg text-center pt-1"> Testimonials </h2>
                </div>
                <div class="slideshow-container">
                    <!-- testimonial-1 -->
                    <div class="mySlides2 fade">
                        <div class="testimonials-box">
                            <p class="text-justify testimonials-text mt-1">
                                <em> 
                                    “I have taken classes with Oriental Dance for about 6 months. 
                                    As a dancer new to Dublin, I felt welcomed.  
                                    I highly recommend their class to anyone looking to learn more about authentic Egyptian 
                                    dance or curious to try!"
                                </em>
                            </p>
                            <p class="quote-text text-right mt-1">
                                <strong>
                                    — Stephanie O’Brien - Student
                                </strong>
                            </p>
                        </div>
                    </div>
                    <!-- testimonial-2 -->
                    <div class="mySlides2 fade">
                        <div class="testimonials-box">
                            <p class="text-justify  testimonials-text mt-1">
                                <em>"Fantastic Academy... Highly recommended!!"</em>
                            </p>
                            <p class="quote-text text-right mt-1">
                                <strong>
                                    — Ann Brennan - Student
                                </strong>
                            </p>
                        </div>
                    </div>
                    <!-- testimonial-3 -->
                    <div class="mySlides2 fade">
                        <div class="testimonials-box">
                            <p class="text-justify  testimonials-text mt-1">
                                <em>
                                    "Not only do they teach an authentic style of dance, 
                                    but they also share information on the region and history of various dance forms. 
                                    It's a great learning experience, as well as a great workout!"
                                </em>
                            </p>
                            <p class="quote-text text-right mt-1">
                                <strong>
                                    --- Asmahan el Zein, Director "World of Orient" and "Tribal Festival" in Hanover, Germany
                                </strong>
                            </p>
                        </div>
                    </div>
                    <a class="prev-test" onclick="plusSlides(-1, 1)">&#10094;</a>
                    <a class="next-test" onclick="plusSlides(1, 1)">&#10095;</a>
                </div>
            </section>
            <!-- testimonials section -->
        </main>
        <!-- main content -->
        <%- include('../partials/footer.ejs') %>
        <%- include('../partials/end.ejs') %>
    </body>
</html>