<%- include('partials/head.ejs') %>
</head>
<body>
  <%- include('partials/header.ejs') %>
  <main class="content">
    <h1>Class Details</h1> 
  </main>

  <%- include('partials/footer.ejs') %>
  <%- include('partials/end.ejs') %>
</body>
</html>